@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



*{

	margin:0;

	padding:0;

	box-sizing: border-box;

}

.container{

	height: auto;
	max-width: 1440px;
	margin:auto;

}

.row{

	display: flex;

	flex-wrap: wrap;

}

ul{

	list-style: none;

}

.footerr{
	background-color: #F1F1F1;
    padding: 70px 0;

}

.footer-col{

   width: 16%;

   padding: 0 15px;

}

.titles {
	font-size: 18px;
	color: #0C1424;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	line-height: 29px;
}

.group {
	display: inline-block;



	margin:0 10px 10px 0;

	text-align: center;

	line-height: 40px;

	border-radius: 50%;

	transition: all 0.5s ease;
}
.footer-col h4{

	font-size: 18px;
	color: #E42651;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	line-height: 29px;

}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	height: 2px;
	width: 50px;

}

.footer-col ul li:not(:last-child){

	margin-bottom: 10px;

}

.footer-col ul li a{

	font-size: 16px;

	text-transform: capitalize;

	text-decoration: none;

	font-weight: 300;

	color: #bbbbbb;

	display: block;

	transition: all 0.3s ease;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;

	line-height: 29px;
	color: #0C1424;

}

.footer-col ul li a:hover{

	color: black;

	padding-left: 8px;

}




 .social-links a{

	display: inline-block;

	height: 40px;

	width: 40px;

	background-color: #292929;

	margin:0 10px 10px 0;

	text-align: center;

	line-height: 40px;

	border-radius: 50%;

	color: #ffffff;

	transition: all 0.5s ease;
	
}
.termsh1 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 40px;
	display: inline-block;
	color: #0C1424;
	margin:0 10px 20px 0;

}

.social-links a:hover{

	color: #24262b;

	background-color: #ffffff;

}



/*responsive*/

@media(max-width: 767px){

  .footer-col{

    width: 50%;

    margin-bottom: 30px;

}

}

@media(max-width: 574px){

  .footer-col{

    width: 100%;

}

}

hr.new {
	border-bottom: 3px solid black;

  }

.logo-img {
	width: 150px;
	height: 50px;
	margin-bottom: 2rem;
}
