.he {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('../../../public/images/he.png') center/cover;
}
.editHero {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  url('../../../public/images/editHero.png') center/cover;
}

.card__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    h1{
      width: 90%;
      text-align: left;
      text-transform: capitalize;
        font-size: 2.2vw;
        font-weight: 600;
        color: rgb(58, 58, 58);
    }
      &--inner{
        width: 90%;
     
        display: block;
        &--card{
          padding: 10px 0;
          max-width: 308px;
          color: #fff;
          font-size: 50px;
          text-align: center;
          // background-color: #0a9e88;
          margin-left: 10px;
          transition: all .1s ease;
    
    
    
          h2{
        color: rgb(58, 58, 58);
        font-size: 1.3vw;
        font-weight: 600;
        padding-left: 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        line-height: 1;
          }
          p{
            text-align: left;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            
            /* identical to box height */
            letter-spacing: 0.2em;
            
            color: #0C1424;
        span{
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          letter-spacing: 0.2em;
          color: #0C1424;
          display: flex;
          flex-direction: column;
        }
          }
         img{
        width: 326.16px;
        height: 326.16px;
        border-radius: 1vw;
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        -webkit-box-pack: center;
        justify-content: center;
        border-radius: 10px;

                                                       
         }
          
        
        &:hover{
          transform: scale(1.05);
          cursor: pointer;
        }
      
        &--date_time{
          display: flex;
          align-items: center;
    margin-top: 5px;      
          img{
            width: 20px;
            height: 20px;
            object-fit: contain;
          }
          h4{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;
            background: linear-gradient(90deg, #F02F32 0%, #E22357 59.52%, #DA1D6C 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
          }
         
        }
      }
      }   
    }

    .img-wrapper {
      position: relative;
      width: 100%;
      max-width: 400px;
    }
    
    .img-wrapper .btn {
      position: absolute;
      top: 7%;
      left: 90%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      font-size: 24px;
      border: none;
      cursor: pointer;
      border-radius: 5px;

      
    }