/* User Profile */

.avatar-profile {
    height: 16rem;
    width: 16rem;
  }

  /* Avatar */

  
  .avatarr img {
    width: 30%;
    height: 30%;
    object-fit: cover;
  }
  
  .rounded-circle {
    border-radius: 50% !important;
  }
  
  .custom-file-input {
 display: none;
  }

  .phone {
    width: 1%;

  }
